@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @apply min-h-screen bg-gray-800;
}
.banner__image {
  background: url("../dist/images/pexels-engin-akyurt-1437267.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
